<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBHJPzz9v7QukuWJLquCcY91LolEvhNSEc</string>
	<key>GCM_SENDER_ID</key>
	<string>1091232026535</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.conecta2</string>
	<key>PROJECT_ID</key>
	<string>conecta2-d3033</string>
	<key>STORAGE_BUCKET</key>
	<string>conecta2-d3033.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1091232026535:ios:d0e6f51ed87be8660ab082</string>
</dict>
</plist>